html{
    font-size: 20px;
}

body{
    margin: 0;
}
.screen{
    min-height: 100vh;
}
.screen1{
    background-image: url('../../img/scren1.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

}